@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@200&family=Dancing+Script&family=Oxygen:wght@300&family=Poppins:wght@200&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins",sans-serif;
    background-color:#2696E9;
}



.status_container{
    max-width: 1124px;
    margin: 5rem auto 0 auto;
    padding: 10px 0;
}

.title {
    text-align: center;
    margin: 2rem 0;
    font-size: 18px;
    font-weight: 600;
}

.content-section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3em;

}

.content{
    background-color: #fff;
    border-radius: 6px;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.content h1{
    font-size: 16px;
    font-weight: 700;
    background: none;
    margin-bottom: 1rem;
}

.content a {
    background-color: lightblue;
    padding: .4rem 1rem;
    border-radius: 4px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 400;
    color: #000;
}